<div class="card text-white bg-dark mb-3" style="max-width: 40rem;" id="backgroundLogin">
    <div class="card-header"><a href="/Home">
        <img src="../img/Maciota3.jpg" width="60" height="60" class="d-inline-block align-top" alt=""></a>
    </div>
    <div class="card-body">
<form>
    <div class="form-group">
      <label for="nome">Nome de usuario</label>
      <input type="name" class="form-control" id="nome" placeholder="Seu nome de usuario">
    </div>
    <div class="form-group">
        <label for="email">Endereço de email</label>
        <input type="email" class="form-control" id="email" placeholder="Seu email">
      </div>
      <div class="form-group">
        <label for="dataNascimento">Endereço de email</label>
        <input type="date" class="form-control" id="dataNascimento" placeholder="Sua data de nascimento">
      </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    </div>
    <a class="nav-link active" href="/Home">Voltar</a>
    <a class="nav-link active" href="/Home">Cadastrar</a>
  </form>
</div>
</div>
