/*Home*/
body {
    width: auto;
    height: auto;
    background-image: url(../img/Fundo.jpg);
}

li {
    list-style-type: none;
}

.caixa {
    width: auto;
    height: auto;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    background-image: url(../img/Fundo.jpg);


}

.caixaConteudo {
    width: auto;
    height: auto;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    background-image: url(../img/FundoCard.jpg);
}

.formBotoes {
    margin-top: 10px;
    padding: 0 5px 0 5px;
}

/*Carrossel*/
#carouselExampleIndicators {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    top: 40px;
}

.carousel-inner {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: auto;
}

/*Navbar*/
#navbarBackgraud {
    width: auto;
    height: auto;
    background-image: url(../img/FundoNavBar.jpg);
}

.navbar-nav {
    margin-left: auto;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item {
    padding: 0 30px;
}

nav a {
    padding: 0 5px 0 5px;
    text-decoration: none;
}

/*Posts*/
#cardDeckHome {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    margin-top: 1px;
}

.TituloPost {
    margin-top: 160px;
    margin-left: 15px;
}

/*Formulario do usuario*/
.card-header {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#backgroundLogin {
    width: auto;
    height: auto;
    background-image: url(../img/FundoNavBar.jpg);
}

/*Jogos*/
/*Campo de pesquisa*/
#pesquisaJogos {
    margin-top: 130px;
    width: 300px;
    left: 20px;
}

/*Imagens*/
/*Perfis*/
#icones {
    border-radius: 200px;
}

@media only screen and (max-device-width: 900px) {
    /*body {
    background-image: url(../img/Fundo.jpg);
}*/

    /*Carrossel*/
    #carouselExampleIndicators {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        top: 40px;
    }

    .carousel-inner {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: auto;
    }

    /*Navbar*/
    /*#navbarBackgraud {
    width: auto; 
    height: auto;
    background-image: url(../img/FundoNavBar.jpg);
}*/

    .navbar-nav {
        margin-top: 20px;

    }

    nav a {
        padding: 0 10px 0 10px;
        text-decoration: none;

    }

    /*Posts*/
    #cardDeckHome {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: 700px;
        height: 700px;
    }

    .TituloPost {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .btn {
        margin-right: auto;
    }
}


@media only screen and (max-device-width: 700px) {

    /*Carrossel*/
    #carouselExampleIndicators {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        top: 40px;
    }

    .carousel-inner {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: auto;
    }

    /*Navbar*/
    /*#navbarBackgraud {
    background-image: url(../img/FundoNavBar.jpg);
}*/

    .navbar-nav {
        margin-left: auto;
    }

    nav a {
        padding: 0 10px 0 10px;
        text-decoration: none;

    }

    /*Posts*/
    #cardDeckHome {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: auto;
        height: auto;
    }

    .TituloPost {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}

@media only screen and (max-device-width: 575px) {

    /*Carrossel*/
    #carouselExampleIndicators {
        margin-left: auto;
        margin-right: auto;
        width: auto;
        top: 40px;
    }

    .carousel-inner {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: auto;
    }

    /*Navbar*/
    /*#navbarBackgraud {
    background-image: url(../img/FundoNavBar.jpg);
}*/

    .navbar-nav {
        margin-left: auto;
    }

    nav a {
        padding: 0 10px 0 10px;
        text-decoration: none;

    }

    /*Posts*/
    #cardDeckHome {
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
        width: 200px;
        height: 200px;
    }

    .TituloPost {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}