<%- include('../elementosSite/header') %>
<body>
  <div class="card text-white bg-dark mb-3" style="max-width: 40rem;" id="backgroundLogin">
    <div class="card-body">
  <form action='../paginas/formularioCadastroUsuario' method='POST'>
   <div class="form-group">
      <label for="nomeUsuario">Nome de usuário</label>
      <input type="text" class="form-control" id="nomeUsuario" aria-describedby="nameHelp" placeholder="Seu nome de usuário" name='username'>
    </div>
    <div class="form-group">
      <label for="emailUsuario">Endereço de email</label>
      <input type="text" class="form-control" id="emailUsuario" aria-describedby="emailHelp" placeholder="Seu email" name='useremail'>
    </div>
    <div class="form-group">
      <label for="senhaUsuario">Senha</label>
      <input type="password" class="form-control" id="senhaUsuario" placeholder="Senha" name='password'>
    </div>
    <a class="nav-link active" href="/Login">Já possuo cadastro</a>
    <a class="nav-link active" href="/">Voltar ao inicio</a>
    <button class="btn btn-primary">Cadastre-se</button>
  </form>
  </div>
  </div>
<%- include('../elementosSite/footer') %>
