<%- include('../partials/header') %>
        <h1>Editar poster</h1>
        <form action="/publicacoes/<%=publicacao.id%>?_method=PATCH" method="POST">

            <div class="md-form mb-4 pink-textarea active-pink-textarea">
                <i class="fas fa-angle-double-right prefix"></i>
                <div class="card text-white bg-dark mb-3" style="max-width: 50rem;" style="max-height: auto;"
                    id="backgroundLogin">
                    <div class="card-body">
                        <textarea name="poster" id="" class="md-textarea form-control" cols='50' rows='10'><%=publicacao.poster%></textarea>
                    </div>
                </div>
            </div>
                    <button class="btn btn-primary">Salvar alteração</button>
                    <a href="/publicacoes/posters">Voltar</a>
        </form>
<%- include('../partials/footer') %>