<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<div class="card-body" id="informacao">
    <div class="caixa">
    <form action='/publicacoes/posters' method='POST' class="caixaConteudo">
        <section>
            <div class="form-group">
                <label>Nome do usuário</label>
                <input type="text" class="form-control" id="nomeUsuario" placeholder="Digite o nome do usuário" name='username'>
              </div>
        </section>

        <section>
            <div class="form-group">
                <label>Poster</label>
            <br>
            <textarea id="poster" class="md-textarea form-control" cols='50' rows='10' name='poster'></textarea>
            </div>
        </section>
        <button class="btn btn-primary">Enviar</button>
        <a href="/publicacoes/posters">Voltar</a>
    </form>
    </div>
</div>
    <%- include('../partials/footer') %>