<body>
    <h1>Criar poster</h1>
    <form action='/publicacoes/posters' method='POST'>
        <section>
            <label>Digite o nome do usuário: </label>
            <input type="text" id='nomeUsuario' placeholder="Digite o nome do usuário" name='username'>
        </section>

        <section>
            <label>Comentário: </label>
            <br>
            <textarea id="poster" cols='30' rows='5' name='poster'></textarea>
        </section>
        <button>Enviar</button>
    </form>    