<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>
        <div class="card-body" id="informacao">
            <div class="caixa">
                <form action='/publicacoes/posters' method='POST' class="caixaConteudo">
                    <section>
                        <div class="form-group">
                            <label><b>Nome do usuário</b></label>
                            <input type="text" class="form-control" id="nomeUsuario"
                                placeholder="Digite o nome do usuário" name='username'>
                        </div>
                    </section>

                    <section>
                        <div class="form-group">
                            <label><b>Nome do jogo</b></label>
                            <br>
                            <textarea id="gameName" class="md-textarea form-control"  placeholder="Digite o nome do jogo" cols='50' rows='1'
                                name='gameName'></textarea>
                        </div>
                        <div class="form-group">
                            <label><b>Poster</b></label>
                            <br>
                            <textarea id="poster" class="md-textarea form-control" placeholder="Digite seu poster" cols='50' rows='15'
                                name='poster'></textarea>
                        </div>
                    </section>
                    <button class="btn btn-primary">Enviar</button>
                    <a href="/publicacoes/posters">Voltar</a>
                </form>
            </div>
        </div>
        <%- include('../partials/footer') %>